# Checking out different product categories in data set

Eligible product categories for analysis and modelling have to meet the following criteria:
- sufficient number of transactions/samples, aka sufficiently high purchase frequency
- good distribution of target variable new purchases
- from a domain perspective, neither too price- and private label-driven nor characterized by too high consumer involvement

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
transactions = pd.read_csv("data/transaction_data.csv")
transactions.head()

,household_key,BASKET_ID,DAY,PRODUCT_ID,QUANTITY,SALES_VALUE,STORE_ID,RETAIL_DISC,TRANS_TIME,WEEK_NO,COUPON_DISC,COUPON_MATCH_DISC
0,2375,26984851472,1,1004906,1,1.39,364,-0.60,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.00,1631,1,0.0,0.0
2,2375,26984851472,1,1036325,1,0.99,364,-0.30,1631,1,0.0,0.0
3,2375,26984851472,1,1082185,1,1.21,364,0.00,1631,1,0.0,0.0
4,2375,26984851472,1,8160430,1,1.50,364,-0.39,1631,1,0.0,0.0

In [3]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2595732 entries, 0 to 2595731
Data columns (total 12 columns):
 #   Column             Dtype
---  ------             -----
 0   household_key      int64
 1   BASKET_ID          int64
 2   DAY                int64
 3   PRODUCT_ID         int64
 4   QUANTITY           int64
 5   SALES_VALUE        float64
 6   STORE_ID           int64
 7   RETAIL_DISC        float64
 8   TRANS_TIME         int64
 9   WEEK_NO            int64
 10  COUPON_DISC        float64
 11  COUPON_MATCH_DISC  float64
dtypes: float64(4), int64(8)
memory usage: 237.6 MB

In [4]:
products = pd.read_csv("data/product.csv")
products.head()

,PRODUCT_ID,MANUFACTURER,DEPARTMENT,BRAND,COMMODITY_DESC,SUB_COMMODITY_DESC,CURR_SIZE_OF_PRODUCT
0,25671,2,GROCERY,National,FRZN ICE,ICE - CRUSHED/CUBED,22 LB
1,26081,2,MISC. TRANS.,National,NO COMMODITY DESCRIPTION,NO SUBCOMMODITY DESCRIPTION,
2,26093,69,PASTRY,Private,BREAD,BREAD:ITALIAN/FRENCH,
3,26190,69,GROCERY,Private,FRUIT - SHELF STABLE,APPLE SAUCE,50 OZ
4,26355,69,GROCERY,Private,COOKIES/CONES,SPECIALTY COOKIES,14 OZ

In [5]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92353 entries, 0 to 92352
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   PRODUCT_ID            92353 non-null  int64
 1   MANUFACTURER          92353 non-null  int64
 2   DEPARTMENT            92353 non-null  object
 3   BRAND                 92353 non-null  object
 4   COMMODITY_DESC        92353 non-null  object
 5   SUB_COMMODITY_DESC    92353 non-null  object
 6   CURR_SIZE_OF_PRODUCT  92353 non-null  object
dtypes: int64(2), object(5)
memory usage: 4.9+ MB

In [6]:
#Append category information to transactions
transactions = pd.merge(transactions, products, how = "left", on = "PRODUCT_ID")
transactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2595732 entries, 0 to 2595731
Data columns (total 18 columns):
 #   Column                Dtype
---  ------                -----
 0   household_key         int64
 1   BASKET_ID             int64
 2   DAY                   int64
 3   PRODUCT_ID            int64
 4   QUANTITY              int64
 5   SALES_VALUE           float64
 6   STORE_ID              int64
 7   RETAIL_DISC           float64
 8   TRANS_TIME            int64
 9   WEEK_NO               int64
 10  COUPON_DISC           float64
 11  COUPON_MATCH_DISC     float64
 12  MANUFACTURER          int64
 13  DEPARTMENT            object
 14  BRAND                 object
 15  COMMODITY_DESC        object
 16  SUB_COMMODITY_DESC    object
 17  CURR_SIZE_OF_PRODUCT  object
dtypes: float64(4), int64(9), object(5)
memory usage: 376.3+ MB

In [7]:
transactions.head()

,household_key,BASKET_ID,DAY,PRODUCT_ID,QUANTITY,SALES_VALUE,STORE_ID,RETAIL_DISC,TRANS_TIME,WEEK_NO,COUPON_DISC,COUPON_MATCH_DISC,MANUFACTURER,DEPARTMENT,BRAND,COMMODITY_DESC,SUB_COMMODITY_DESC,CURR_SIZE_OF_PRODUCT
0,2375,26984851472,1,1004906,1,1.39,364,-0.60,1631,1,0.0,0.0,69,PRODUCE,Private,POTATOES,POTATOES RUSSET (BULK&BAG),5 LB
1,2375,26984851472,1,1033142,1,0.82,364,0.00,1631,1,0.0,0.0,2,PRODUCE,National,ONIONS,ONIONS SWEET (BULK&BAG),40 LB
2,2375,26984851472,1,1036325,1,0.99,364,-0.30,1631,1,0.0,0.0,69,PRODUCE,Private,VEGETABLES - ALL OTHERS,CELERY,
3,2375,26984851472,1,1082185,1,1.21,364,0.00,1631,1,0.0,0.0,2,PRODUCE,National,TROPICAL FRUIT,BANANAS,40 LB
4,2375,26984851472,1,8160430,1,1.50,364,-0.39,1631,1,0.0,0.0,69,PRODUCE,Private,ORGANICS FRUIT & VEGETABLES,ORGANIC CARROTS,1 LB

In [8]:
transactions["COMMODITY_DESC"].value_counts()

SOFT DRINKS                     117532
FLUID MILK PRODUCTS              85630
BAKED BREAD/BUNS/ROLLS           83232
CHEESE                           74885
BAG SNACKS                       67190
                                 ...
NDAIRY/TEAS/JUICE/SOD                2
MISCELLANEOUS(CORP USE ONLY)         1
EASTER LILY                          1
MISCELLANEOUS CROUTONS               1
FROZEN PACKAGE MEAT                  1
Name: COMMODITY_DESC, Length: 308, dtype: int64

In [9]:
#add column with first purchase per product per household
transactions["first_purchase"] = np.NaN
transactions["first_purchase"].loc[transactions.groupby(["household_key", "PRODUCT_ID"]).DAY.idxmin()] = 1
transactions["first_purchase"].value_counts()

C:\Users\Gabriele\AppData\Local\Temp\ipykernel_13528\2806816894.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transactions["first_purchase"].loc[transactions.groupby(["household_key", "PRODUCT_ID"]).DAY.idxmin()] = 1

1.0    1401469
Name: first_purchase, dtype: int64

In [10]:
transactions["first_purchase"] = transactions["first_purchase"].fillna(0)

In [11]:
transactions["first_purchase"].value_counts()

1.0    1401469
0.0    1194263
Name: first_purchase, dtype: int64

In [12]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2595732 entries, 0 to 2595731
Data columns (total 19 columns):
 #   Column                Dtype
---  ------                -----
 0   household_key         int64
 1   BASKET_ID             int64
 2   DAY                   int64
 3   PRODUCT_ID            int64
 4   QUANTITY              int64
 5   SALES_VALUE           float64
 6   STORE_ID              int64
 7   RETAIL_DISC           float64
 8   TRANS_TIME            int64
 9   WEEK_NO               int64
 10  COUPON_DISC           float64
 11  COUPON_MATCH_DISC     float64
 12  MANUFACTURER          int64
 13  DEPARTMENT            object
 14  BRAND                 object
 15  COMMODITY_DESC        object
 16  SUB_COMMODITY_DESC    object
 17  CURR_SIZE_OF_PRODUCT  object
 18  first_purchase        float64
dtypes: float64(5), int64(9), object(5)
memory usage: 460.6+ MB

In [13]:
pd.set_option("display.max_rows", None)
transactions[["first_purchase", "COMMODITY_DESC"]].groupby("COMMODITY_DESC").mean().to_clipboard(excel=True)

In [1]:
pct_newp = transactions[["first_purchase", "COMMODITY_DESC"]].groupby("COMMODITY_DESC").mean()

NameError: name 'transactions' is not defined

In [ ]:
#scatterplot number of transactions vs. % new purchases by product category
fig, ax = plt.subplots(figsize=(20,5))
axes.plot(len

# Add feature names as x-axis labels
axes.set_xticks(range(X.shape[1]));
axes.set_xticklabels(f_names, rotation=45, ha='right');